body{
 background-color: #ff496e;


}

header{
    display: flex;
    background-color: rgb(250, 112, 192);
    justify-content: space-between;
    padding: 20px;
}

.cabecalho_menuitem{

    display: inline;
    text-transform: uppercase;
    margin-left: 20px;
}

.cabecalho_imagem{
    width: 200px;
    height: 200px;
    border-radius: 50%;

}
